body{
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

main{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
}

h1{
    text-align: center;
    font-size: 50px;
}

#html{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 550px;
    margin: auto;
}

#css{
    position: absolute;
    width: 300px;
    height: 300px;
    right: 580px;
    margin: auto;
}

main>div{
    position: absolute;
    top: 600px;
    right: 0;
    left: 0;
    margin: auto;
    width: 1000px;
    display: flex;
    justify-content: space-around;
}

div>button{
    width: 200px;
    height: 50px;
    margin: 10px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #2980b9;
    border: 1px solid #2980b9;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: background-color 0.5s linear;
}

div>button>a{
    text-decoration: none;
    color: white;
}

div>button:hover{
    background-color: #192a56;
    transform: translateY(-10px);
}