body{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    position: relative;
    width: 100vw;
    height: 60px;
    /*padding: 10px;
    box-sizing: border-box;*/
}

header>img {
    position: absolute;
    top: 0;
    bottom: 0;

    left: 10px;
    margin: auto;
}

header>nav {
    height: fit-content;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
}

header>nav>ul {
    padding: 0;
    margin: 0;
}

header>nav>ul>li {
    display: inline-block;
    margin-right: 10px;
}

footer{
    background-color: darkgrey;
    text-align: center;
    color: white;
    padding: 20px 0;

}

main{
    position: relative;
}
main>aside{
    background-color: purple;
    color: white;
    padding: 10px;
    width: 150px;
    position: absolute;
    box-sizing: border-box;

    top: 0;
    bottom: 0;
    margin: auto;
}

main>aside>ul{
    margin: 0;
    list-style: none;
    padding: 0;
}

main>aside>ul>li{
    margin-bottom: 20px;
}
main>section{
    background-color: lightyellow;
    width: calc(100vw - 150px);
    margin-left: 150px;

}

main>section>p{
    margin: 0;
}

main>div>div{
    width: calc(100%/3);
    height: 250px;
    background-color: red;
}

section>div{
    position: relative;
    height: 500px;
}
section>div>div{
    width: calc(100%/3);
    height: 500px;

    position: absolute;

    background: url("assests/0441ea5619b979bde781aa040943c208.gif");
    background-position: center;

    border: 1px solid brown;
    box-sizing: border-box;
}

section>div>div:first-child{
}
section>div>div:nth-child(2){
    background-color: blue;
    right: 0;
    left: 0;
    margin: auto;

}
section>div>div:last-child{
    background-color: yellow;
    right: 0;
}