section {
    width: 100vw;
    height: 100vh;
    position: relative;
}

section > div {
    position: sticky;
    top: 0;
    width: 100vw;
    height: 8vh;
}

section > div > h2 {
    margin: auto;
    color: white;
    padding: 25px 0 0 10px ;
}

section > h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 60px;
    color: yellow;
}

#section1 {
    background-color: white;
}

#section1 > div {
    background-color: red;
}

#section2 {
    background-color: darkblue;
}

#section2 > div {
    background-color: dodgerblue;
}

#section3 {
    background-color: grey;
}

#section3 > div {
    background-color: darkgrey;
}

#section4 {
    background-color: red;
}

#section4 > div {
    background-color: darkred;
}
